<html>

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar is-dark  has-shadow is-size-2 ">
        <div class="navbar-menu ">

            <div class="navbar-start" id="nav-links">
                        <a href="{{ url_for('home') }}" class="navbar-item">Home</a>
                        <a href="{{ url_for('agents') }}" class="navbar-item">Agents</a>
                        <a href="{{ url_for('agentsinfo') }}" class="navbar-item">AgentsInfo</a>
                        <a href="{{ url_for('agentsfiltre') }}" class="navbar-item">Filtre</a>

            </div>

        </div>
    </nav>

    <h1> Excecutez la commande ici </h1>

    <form action="http://127.0.0.1:5000/allinone/executeall" method="POST">

        <p>Entrez la commande : </p>

        <input type="texte" name="command">

        <input type="submit">

    </form>

</body>

</html>